header section img {
  width: 100%;
  height: auto;
}

main {
  font-family: Arial, sans-serif;
}

main > h2, main > nav > h2 {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #0B3948;
}

main > section, main > nav > p {
  margin: 0;
  margin-bottom: 16px;
  height: 6px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0B3948;
}

main > p {
  display: block;
  text-align: center;
  margin: 16px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  color: #0B3948; 
}

main > nav > section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

main > nav:nth-of-type(2) > section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
    main > nav > section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    main > nav > section > article {
      flex-basis: calc(33.33% - 10px);
    }
}

@media (min-width: 992px) {    
    main > nav > section {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    main > nav:nth-of-type(2) > section {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
}

main > nav > h2:nth-of-type(2) {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #0B3948;
  font-weight: 500;
  font-size: 20px;
}

main > nav > section > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border: 1px solid #ACB0BD;
  padding: 10px;
  margin: 10px;
  max-width: 358px;
  max-height: 572px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
  
main h3 {
  margin: 0;
  padding-bottom: 8px;
  color: #0B3948;
  text-align: center;
}

main > nav > section > article > section:first-child {
  overflow: hidden;
}

main > nav > section > article > section:first-of-type img {
  width: 338px;
  height: 480px;
}

main > nav > section > article > section:nth-of-type(2) > p {
  display: block;
  width: 338px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main > nav > footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

main > nav > footer a {
  padding: 10px;
  text-decoration: none;
  color: #D9DBF1;
  background-color: #0B3948;
  border: 1px solid #0B3948;
}

main > nav > footer a:hover {
  background-color: #D9DBF1;
  color: #416165;
}