body > p {
  margin: 20px;
  margin-top: 60px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #0B3948;
}

body > p a {
  text-decoration: none;
  color: #0B3948;
}

body > p a:hover {
  color: #416165;
}

main {
  width:280px;
  margin: 0 auto;
  margin-top: 5%;
  font-family: Arial, sans-serif;
}

main form {
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  color: #0B3948;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 5%;
}

main h1{
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #0B3948;
}
   
main input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ACB0BD;
  box-sizing: border-box;
}

.error {
  background-color: rgba(255, 0,0, 0.1);
  border: 1px solid red;
}

main form p {
  color: red;
  font-weight: bold;
}

main button {
  background-color: #0B3948;
  color: #D9DBF1;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

main button:hover {
  background-color: #D9DBF1;
  color: #0B3948;
  padding: 13px 20px;
  border: 1px solid #0B3948;
}

@media (min-width: 768px) {
  main {
    width: 400px;
  }
}