* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

body > main {
  padding-bottom: 786px;
}

body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0B3948;
  height: 786px;
}

body > footer > nav {
  display: grid;
  gap: 0;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Arial, sans-serif;
}

footer > nav > section {
  padding: 10px;
}

footer > nav > section > h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #D9DBF1;
}

footer > nav > section:first-of-type > p {
  margin: 0;
  color: #D9DBF1;
}

footer > nav > section:first-of-type a {
  text-decoration: none;
  color: #D9DBF1;
}

footer > nav > section:nth-of-type(2) > form {
  display: flex;
  flex-wrap: wrap;
}

footer > nav > section:nth-of-type(2) label {
  margin: 0;
  margin-bottom: 10px;
  color: #D9DBF1;
}

footer > nav > section:nth-of-type(2) input {
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 50%;
  max-width: 200px;
  background: #ACB0BD;
  color: #0B3948;
}

footer > nav > section:nth-of-type(2) button {
  width: 40%;
  padding: 10px;
  background: #ACB0BD;
  color: #0B3948;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

footer > nav > section:nth-of-type(2) button:hover {
  background: #416165;
  color: #D9DBF1;
}

footer > nav > section:nth-of-type(2) input.error {
  border: 1px solid red;
}

footer > nav > section:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

footer > nav > section:nth-of-type(3) > ul {
  display: grid;
  gap: 16px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > nav > section:nth-of-type(4) > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > nav > section:nth-of-type(3) a, footer > nav > section:nth-of-type(4) a {
  color: #D9DBF1;
  text-decoration: none;
  padding: 16px;
}

footer > nav > section a:hover {
  color: #416165;
}

@media (min-width: 768px) {
  body > main {
    padding-bottom: 374px;
  }
  body > footer {
    height: 374px;
  }
  body > footer > nav {
    align-items: baseline;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer > nav > section:nth-of-type(3) > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  body > main {
    padding-bottom: 220px;
  }
  body > footer {
    height: 220px;
  }
  body > footer > nav {
    align-items: baseline;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}